---
# Front matter
---
/**
 * 
 *  T O A S T E R . C C
 * 
 *
 *  Mobile-first custom CSS
 *  Using em (cascading scale) 
 *  and rem (relative to html)
 * 
 *  Using Sass SCSS to compile
 *
 **/


$theme_colour: {{ site.theme_colour }};
$theme_darken: {{ site.theme_colour_copy_darken }};

$theme_complement: {% if site.theme_complement %}{{ site.theme_complement }};
{% else %}{{ site.theme_colour }};
{% endif %}

$theme_noir: #131315;

$select_colour: {{ site.select_colour }};


$copy_colour: {{ site.copy_colour }};
$copy_softer: desaturate(lighten($copy_colour, 20%), 50%);

$back_l_grey: #f8f8f8;
$back_d_grey: #efefef;

$border_light: #eef;
$border_dark: #dde;

$danger_colour: #ce4a55;
$success_colour: #4acea9;

/* Main font pairing */
$sans_font: 'Montserrat','Helvetica-Neue',Helvetica,Arial,sans-serif;
$serif_font: 'Crimson Text','Times','Georgia','Times New Roman',serif;
$title_font: $sans_font;

/* Feature fonts and specific-use */
$cursive_font: 'Pacifico', sans-serif;
$fancy_font: 'Yeseva One', Georgia, Times, serif;
$mono_font: 'Source Code Pro', monospace;

/* For maximising reradability for small UI components */
$small_font: Helvetica,'Helvetica-Neue', Arial,sans-serif;

$icon_font: normal normal normal 14px/1 FontAwesome;

$header_image: '../img/{{ site.hero_image }}';

/* rem breakpoints so smaller font gets larger styles earlier */
$breakpoint_xs: 30rem;
$breakpoint_sm: 50rem;
$breakpoint_md: 70rem;
$breakpoint_lg: 100rem;

/* Material lighting cues */
$zshadow_in2: inset 0      0      0.4rem rgba(0,0,0,0.3);
$zshadow_in1: inset 0      0      0.2rem rgba(0,0,0,0.2);
$zshadow_0:   0rem  0.1rem 0.4rem 0rem   rgba(0,0,0,0.2);
$zshadow_1:   0rem  0.2rem 0.6rem 0rem   rgba(0,0,0,0.3);
$zshadow_2:   0rem  0.4rem   1rem 0rem   rgba(0,0,0,0.4);

* { box-sizing: border-box; }

html, body {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    font-family: $serif_font;
    font-weight: normal;
    font-size: 12pt;
    background: #FFF;
    color: $copy_colour;
    min-width: 320px; /* Only use of px is for min screen size */
}

@media print {
    html, body {
        color: #000!important;
        font-size: 10pt;
    }
}

::selection {
    background: $select_colour;
    color: #000;
}

::-webkit-scrollbar {
    width: 0.5rem;
    max-width: 0.5rem;
    height: 0.5rem;
    max-height: 0.5rem;
}
::-webkit-scrollbar-track{
    background: #fff;
}
::-webkit-scrollbar-thumb{
    background-color: $theme_colour;
}
::-webkit-scrollbar-thumb:window-inactive {
    background-color: $theme_colour;
}

*:focus {
    outline: 0;
}



/***
    SUPER SIMPLE SQUARE-GRID-SYSTEM
    Columns are all the same height in each row
***/

.col { margin: 0 -1rem; }
.sep {
    .col ~ .col { border-top: 0.1rem solid $border_dark; }
}
.row.padd { .col { padding: 1em 0em; } }

@media all and (min-width: $breakpoint_md) {
    .row { width: 100%; display: table; table-layout: fixed; }
    .col { display: table-cell; vertical-align: top;}

    .row.sep {
        .col ~ .col {
            border-top: none;
            border-left: 0.1rem solid $border_dark;
        }
    }
    
    .row.padd {
        .col {
            padding: 0; padding-right: 2em;
        }
        .col ~ .col {
            padding-left: 2em;
        }
        .col:last-child { padding-right: 0; }
    }
    
}

/***
    MAIN CLASSES

***/

.halfx   { font-size: 0.5em; }
.smaller { font-size: 0.8em; }
.bigger  { font-size: 1.5em; }
.twox    { font-size: 2em;   }
.threex  { font-size: 3em;   }
.fourx   { font-size: 4em;   }
.fivex   { font-size: 5em;   }

a,
a:visited {
    color: darken($theme_colour, $theme_darken);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover,
a:focus {
    text-decoration: underline;
    color: darken($theme_colour, 10%);
}

.archive {
    @media (min-width: $breakpoint-sm){
        font-size: 1.2em;
    }

    @media (min-width: $breakpoint-md){
        font-size: 1.5em;
    }

    a,
    a:visited,
    a:hover,
    a:focus,
    a:active {
        color: inherit;
        text-decoration: none;
    }

    ul {
        padding: 0;
        list-style: none;
        width: 100%;
        display: block;
        text-align: left;
    }

    li {
        display: inline-block;
        width: 100%;
        padding: 0.3em 0em;
        border-bottom: 0.15rem solid $border_light;
        margin-bottom: 0.5em;
        overflow: hidden;
        transition: border-color 0.3s ease;
    }

    a:hover li,
    a:focus li {
        border-color: $theme_colour;
    }

    time {
        float: right;
        font-weight: bold;
    }
}


/** 
    We wrap post-like content in <article> tags, and apply 
    different styles to aid readability etc.
**/
article {
    font-size: 1em;
    word-break: break-word;
    counter-reset: figures;
    text-rendering: optimizeLegibility;
    -webkit-font-variant-ligatures: common-ligatures;
    font-variant-ligatures: common-ligatures;
    -webkit-font-feature-settings: "kern";
    font-feature-settings: "kern";
    font-kerning: normal;

    @media screen and (min-width: $breakpoint_xs) {
        font-size: 1.2em;
    }
    @media screen and (min-width: $breakpoint_sm) {
        font-size: 1.4em;
    }

    a,
    a:visited {
        text-decoration: none;
    }

    code {
        font-family: $mono_font;
        font-size: 0.7em;
        padding: 0.2em 0;
        color: $copy_softer;
        overflow: auto;
    }

    .row {
        padding: 0 1em;
    }

    .columnar {
        padding-top: 1.5em;
        
        /* Columns don-t handle negative margins well */
        ul,ol {
            padding-left: 1em;
        }

        blockquote {
            margin-left: 0em;
            margin-right: 0em;
            padding: 0.2em 1em;
        }
    }

    figure {
        margin: 0;
        margin-bottom: 1.5rem;
        overflow: auto;
        

        figcaption {
            counter-increment: figures;
            display: block;
            font-size: 0.75em;
            padding: 1rem;
            background: $back_d_grey;
            color: darken($back_d_grey, 50%);
            line-height: 1.2em;
            text-align: center;
            word-wrap: break-word;
        }

        figcaption:before {
            content: 'Fig. ' counter(figures) ': ';
            font-weight: bold;
        }

        pre {
            margin: 0;
        }

        blockquote {
            margin-left: 0;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        /* -webkit-column-span: all; */
        /* column-span: all; */
        margin-top: 1rem;

        a,
        a:visited {
            color: inherit !important;
            text-decoration: inherit;
        }
        
        a:hover,
        a:focus {
            text-decoration: underline;
            color: inherit !important;
        }
    }

    h1 {
        text-transform: none;
        font-size: 2.6em;
    }
    
    h1.post-title { font-size: 3em; }
    h2 { font-size: 2em }
    h3 { font-size: 1.6em }
    h4 { font-size: 1.2em }
    h5 { font-size: 1em }
    h6 { font-size: 0.8em }

    img {
        max-width: 100%;
    }

    /* Broken link style */
    img:before {
        content: "\f127";
        font: $icon_font;
        display: block;
        font-size: 2rem;
        text-align: center;
        padding: 0.5em;
        color: #F88;
    }

    li {
        padding-bottom: 0.2em;
    }

    p, ul, ol {
        line-height: 1.5em;
        color: $copy_softer;
    }

    ul, ol {
        padding-left: 2em;
    }

    ol ol,
    ul ul {
        padding-top: 0.2em;
    }

    .post-title {
        a:hover,
        a:focus {
            text-decoration: none;
        }

        a::before,
        a::before {
            content: "\f0c1"; /* Hyperlink icon */
            font: $icon_font;
            font-size: 0.7em;
            line-height: 1.4em;
            width: 1em;
            height: 1.4em;
            color: inherit;
            padding-top: 0.1em;
            opacity: 0;
            transition: opacity 0.3s ease;
            display: block;
            
            @media (min-width: $breakpoint_sm) {
                display: inline-block;
                float: left;
                margin-left: -1.1em;
            }
        }

        a:hover::before,
        a:focus::before {
            opacity: 1;
        }
    }

    pre {
        @extend code;
        font-size: 1em;
        background: $back_l_grey;
        padding: 1.2em 0.8em;
        border-radius: 0.2em;
    }

    table {
        font-size: 0.9em;
        border-collapse: collapse;
        width: 100%;
        color: $copy_colour;
    }

    tbody {
        color: $copy_softer;
    }

    th, td {
        margin: 0;
        padding: 0;
        border: 0;
        border-bottom: 0.07em solid $back_d_grey;
        padding: 0.2em 1em;
    }

    td {
        border-bottom: 0.07em solid $back_l_grey;
        overflow: hidden;
    }

}

.b-top-grey {
    border-top: 0.1rem solid #eee;
}

@media screen {
    .bg-l-grey {
        background-color: $back_l_grey;
    }
    
    .bg-d-grey {
        background-color: $back_d_grey;
    }
}
   
.bg-theme {
    background-color: $theme_colour;
    color: #FFF;
}
.bg-theme-complement {
    background-color: $theme_complement;
    color: #FFF;
}

blockquote {
    color: $copy_colour;
    border-left: 0.2em solid $back_d_grey;
    margin: 1em 0em;
    margin-left: -0.5em;
    padding: 0.2em 2em;

    cite {
        opacity: 0.6;
        display: block;
        margin-top: 0.5em;
        font-weight: normal;
        font-style: italic;
        text-decoration: none;
    }

    p {
        color: inherit;
        margin: 0;
    }

    p + p {
        margin-top: 1em;
    }
}

blockquote.right{
    border-left: none;
    margin-left: 0em;
    border-right: 0.2em solid $back_d_grey;
    margin-right: -0.5em;
}

.btn,
a.btn,
button.btn {
    /* Specificity hack using a.btn */
    font-size: 1rem;
    display: inline-block;
    padding: 0.5rem 2rem;
    margin: 0.3rem 0.1rem;
    background-color: $theme_colour;
    border-radius: 0.3rem;
    text-decoration: none;
    color: #FFF;
    font-family: $sans_font;
    font-weight: normal;
    box-shadow: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    line-height: 1.2rem;
}

.btn:hover {
    color: #FFF;
    background-color: lighten($theme_colour, 6%);
    box-shadow: $zshadow_1
}

.btn:active {
    @extend .btn:hover;
    box-shadow: $zshadow_2;
}

.btn.complement,
a.btn.complement {
    background-color: $theme_complement;
}
.btn.complement:hover,
.btn.complement:active {
    background-color: lighten($theme_complement, 6%);
}

.btn.danger,
a.btn.danger {
    background-color: $danger_colour;
}
.btn.danger:hover,
.btn.danger:active {
    background-color: lighten($danger_colour, 6%);
}

.btn.success,
a.btn.success {
    background-color: $success_colour;
}
.btn.success:hover,
.btn.success:active {
    background-color: lighten($success_colour, 6%);
}

.caps {
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.small-caps {
    letter-spacing: 0.1em;
    font-variant: small-caps;
}

.card {
    margin: 1rem;
    margin-top: 2rem;
    min-height: 4rem;
    background: #FFF;
    color: $copy_softer;
    transition: box-shadow 0.3s ease, margin 0.3s ease;
    box-shadow: $zshadow_0;
    overflow: hidden;
}

@media screen and (min-width: $breakpoint_sm){
    .card {
        font-size: 1.1em;

        img.feature {
            transition: transform 0.3s;
            -webkit-transition: -webkit-transform 0.3s;
            -moz-transition: -moz-transform 0.3s;
        }
    }

    .card:hover {
        box-shadow: $zshadow_1;
    }
}

.card-head {
    border-top: 0.2rem solid $theme_complement;
}

.center {
    text-align: center !important;
    margin-left: auto;
    margin-right: auto;
}

.chip {
    font-family: $small_font;
    font-weight: 500;
    display: inline-block;
    height: 2em;
    font-size: 0.75em;
    color: rgba(0,0,0,0.6);
    line-height: 2em;
    padding: 0 1em;
    border-radius: 1em;
    background-color: $back_d_grey;

    img {
        float: left;
        margin: 0 0.5em 0 -1em;
        height: 2em;
        width: 2em;
        border-radius: 1em;
    }

    img + img {
        margin-left: -0.5em;
    }

    a {
        display: inline-block;
        width: 1.4em;
        height: 1.4em;
        border-radius: 50%;
        text-align: center;
        background-color: darken($back_d_grey, 10%);
        color: darken($back_d_grey, 60%);
        vertical-align: middle;
        margin-left: 0.5em;
        margin-right: -0.5rem;
        line-height: 1.4rem;
        transition: background-color 0.5s ease;

        i {
            font-size: 0.8rem;
        }
    }

    a:hover {
        background-color: darken($back_d_grey, 20%);
    }
}

.circular {
    border-radius: 50%;
}

.clearfix:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.columnar {
    /* Column responiveness is based on relative font size (em) */
    -webkit-columns: 3 20rem; /* Chrome, Safari, Opera */
    -moz-columns: 3 20rem; /* Firefox */
    columns: 3 20rem;
    -webkit-column-gap: 3rem;
    -moz-column-gap: 3rem;
    column-gap: 3rem;
}

.colspan {
    /* Provide clas to disable columns for an element */
    -webkit-column-span: all;
    column-span: all;
}

.container {
    width: 100%;
    padding: 0em 1rem;
    margin: 0 auto;
}

.wide {
    @extend .container;
}

.skinny {
    @extend .container;
    padding: 0em 2rem;
}

@media screen and (min-width: $breakpoint_xs){
    .container {
        width: 90%;
    }
    .container.skinny {
        width: 80%;
    }
    .container.wide {
        width: 100%;
    }
}

@media screen and (min-width: $breakpoint_sm){
    .container {
        width: $breakpoint_sm;
    }
    .container.skinny {
        width: ($breakpoint_sm - 10);
    }
    .container.wide {
        width: 90%;
    }
}

@media screen and (min-width: $breakpoint_md){
    .container {
        width: $breakpoint_md;
    }
    .container.skinny {
        width: ($breakpoint_md - 20);
    }
    .container.wide {
        width: $breakpoint_md;
    }
}

@media screen and (min-width: $breakpoint_lg){
    .container {
        width: ($breakpoint_lg - 10);
    }
    .container.wide {
        width: ($breakpoint_lg - 10);
    }
    .container.skinny {
        width: ($breakpoint_lg - 30);
    }
}

dl {
    dt {
        font-weight: bold;
        margin: 0;
    }

    dd {
        @media (min-width: $breakpoint_sm){
            font-size: 0.8em;
        }
        margin-left: 1em;
        margin-bottom: 0.5em;
    }
}

.em {
    font-style: italic;
}

.emcircle {
    @extend .circular;
    width: 4em;
    height: 4em;
    margin-bottom: -2em;
    vertical-align: bottom;
}

.fancy {
    font-family: $fancy_font;
}

.feature {
    font-size: 1.3em;
    -webkit-column-span: all;
    column-span: all;
}
@media all and (min-width: $breakpoint_sm){
    .feature {
        font-size: 1.4em;
    }
}

.feature.ledge,
.feature.redge {
    max-width: 25rem;
}

blockquote.feature {
    padding: 2rem;
}

blockquote.feature:before {
    content: '\f10d'; /* fa-quote-right */
    display: block;
    font: $icon_font;
    font-style: normal;
    font-size: 1.5em;
    color: $back_d_grey;
    height: 1em;
    margin-bottom: 0.1em;
}

.mid {
    @extend .feature;
    font-size: 1.1em;
    text-align: center;
    font-style: italic;
}

blockquote.mid {
    @extend blockquote.feature;
    margin: 0;
    border: 0;
}

@media all and (min-width: $breakpoint_sm){
    .mid {
        margin-right: 2em;
        margin-left: 2em;
    }
}

.fold-centre {
    padding: 10rem 2rem 2rem 2rem;
    margin: 0 auto;
    text-align: center;
}

footer {
    font-family: $small_font;
    color: #FFF;
    background-color: $theme_noir;
    padding: 3rem 1rem;
    border-top: 0.15rem solid $theme_complement;
    font-size: 0.9rem;
    transition: border-color 0.5s ease;

    a,
    a:visited{
        color: #BBB;
        text-decoration: none;
        transition: color 0.3s ease;
    }

    a:hover,
    a:focus {
        color: $theme_colour;
    }

    .col.sep ~ .col.sep {
        border-color: #555;
    }
}

footer:hover {
    border-color: $theme_colour;
}

@media print {
    footer {
        display: none;
    }
}

.footnotes {
    font-size: 0.8em;
    margin-top: 3em;
    padding-top: 1em;
    border-top: 0.1rem solid $theme_colour;

    p {
        margin: 0;
    }
}

.footnotes:before {
    content: "Footnotes";
    font-size: 1.2em;
    padding-left: 1em;
    display: block;
    font-weight: bold;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $title_font;
    font-weight: 600;
    word-wrap: break-word;
    margin: 0;
    padding: 0.4em 0em 0.2em 0em;
    line-height: 1.2em;
    vertical-align: middle;

    a, a:visited {
        color: inherit;
        text-decoration: none;
    }

    a:hover, a:focus {
        color: inherit;
    }
}


h1 {
    text-transform: uppercase;
    font-size: 2em;
}
h2 { font-size: 1.6em }
h3 { font-size: 1.4em }
h4 { font-size: 1.3em }
h5 { font-size: 1em }
h6 { font-size: 0.8em }

@media (min-width: $breakpoint_md){
    h1 { font-size: 3em; }
    h2 { font-size: 2.6em }
    h3 { font-size: 2em }
    h4 { font-size: 1.5em }
    h5 { font-size: 1em }
    h6 { font-size: 0.8em }
}

@media print {
    .hidden-print {
        display: none!important;
    }
}

.hero {
    position: relative;
    height: 30rem;
    background-color: #111;
    background-size: cover;
    background-position: center center;
    color: #fff;
    border-bottom: 0.3em solid $theme_colour;


    h1.post-title {
        text-shadow: 0.05em 0.05em rgba(0,0,0,0.2);
        position: absolute;
        bottom: 0em;
    }
}

header.hero {
    height: 60%;
    min-height: 30rem;
    font-size: 1rem;
    font-size: 3.5vw;
    white-space: nowrap;
    background-image: url($header_image);
    border: 0;

    hr {
        border-color: #fff;
        margin: 1em 2em;
        border-width: 0.15em;
    }

    h1 {
        font-size: 3em;
    }
}

@media(min-width: $breakpoint_xs){
    .hero {
        height: 25rem;
    }
    
    header.hero {
        font-size: 1rem;
    }
}

@media(min-width: $breakpoint_sm){
    .hero {
        height: 35rem;
    }
    
    header.hero {
        font-size: 1.3rem;

        hr {
            margin: 1em 10em;
        }
    }
}

@media(min-width: $breakpoint_lg){
    header.hero {
        font-size: 1.6rem;
    }
}

@media print {
    /**
       Header is pretty differently styled
       for print, backgrounds and colours removed.
       **/

    header.hero {
        height: auto;
        min-height: 0;
        background: none;
        color: $copy_colour;

        hr {
            display: none;
            border-color: $copy_colour;
        }

        .fold-centre {
            padding: 1em;
        }

        .scrim {
            background: none;
        }
    }
}

@import 'syntax';

hr {
    margin: 4rem 0rem;
    border: 0.15rem solid $border_light;
    -webkit-column-span: all;
    column-span: all;
}

hr.break {
    border: none;
}

hr.break::after {
    display: inline-block;
    content: "...";
    float: left;
    font-size: 4rem;
    text-align: center;
    width: 100%;
    margin-top: -1rem;
    line-height: 2rem;
    color: $theme_colour;
    font-weight: bold;
    letter-spacing: 0.3rem;
    font-family: $sans_font;
    padding: 0.5rem 0;
}

.hspace {
    padding-left: 1em;
    padding-right: 1em;
}

.i {
    font-style: italic;
}

.iframe-responsive {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;

    iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

img.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.justified {
    text-align: justify;
}

/* Slide content off the left or right of a parent */
.ledge, .redge {
    margin: 2rem 0em;
    border-radius: 0.2rem;
}

@media screen and (min-width: $breakpoint_md){
    .ledge, .redge {
        max-width: 60%;
    }
    .ledge {
        float: left;
        margin-left: -5rem;
        margin-right: 2rem;
    }
    .redge {
        float: right;
        margin-left: 2rem;
        margin-right: -5rem;
    }
}

@media screen and (min-width: $breakpoint_lg){
    .ledge, .redge {
        max-width: 70%;
    }
    .ledge {
        margin-left: -10rem;
    }
    .redge {
        margin-right: -10rem;
    }
}

mark, .mark {
    color: inherit;
    background-color: $select_colour;
    transition: background-color 0.5s ease, color 0.5s ease;
}

mark:hover,
.mark:hover {
    color: #000;
    background-color: darken($select_colour, 10%);
}

mark.noir, .noir, .mark.noir {
    color: #FFF;
    background-color: #000;
}

.muted {
    opacity: 0.7;
}


.nav-ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: $sans_font;
    text-transform: uppercase;
    font-size: 0.9em;
}

.nav-ul > li > a {
    padding: 1em;
    display: inline-block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: inherit;
    border-bottom: 0.15em solid #222226;
    transition: border-color 0.3s ease;
}

.nav-ul > li > a.active {
    border-color: #333336;
}

.nav-ul > li > a:hover,
.nav-ul > li > a:focus {
    outline: 0;
    border-color: $theme_colour;
}

@media print {
    .nav-ul {
        display: none;
    }
}

ol {
    list-style-type: decimal;
    ol {
        list-style-type: lower-alpha;
        ol {
            list-style-type: lower-roman;
        }
    }
}

p { font-size: 1em; }

.padder {
    padding: 2em;
}
.littlepadder {
    padding: 1em;
}

.pagination {
    font-size: 2em;
    padding: 0.5em 0;
    width: 100%;
    display: block;
    font-family: $sans_font;
    font-weight: bold;
    text-align: center;
    color: $copy_colour;
    
    a,
    a:visited,
    a:hover,
    a:focus,
    a:active {
        color: inherit;
        text-decoration: none;
    }

    .disabled {
        color: $theme_colour;
    }

    .page_number {
        @extend .disabled;
        font-size: 0.6em;
        color: $theme_colour;
        word-spacing: 0.5em;
        display: inline-block;
        line-height: 1em;
        vertical-align: middle;
        padding: 0.666666em 0em;
    }

    .col {
        padding: 0em; 
    }
}

@media (min-width: $breakpoint_sm) {
    .pagination {
        font-size: 2.5em;
    }
}

.pull-right {
    float: right;
}
.pull-left {
    float: left;
}

.right {
    text-align: right !important;
}

.sans-serif {
    font-family: $sans_font;
}

/* Text-protection scrims, uniform and gradient */
.scrim {
    background: {{ site.scrim_colour }};
    width: 100%;
    height: 100%;
}

.scrim-g {
    background: rgba(0,0,0,0.3);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#59000000',GradientType=0 );
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.6) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.6) 100%);
    background: linear-gradient(
                        to bottom,
                        rgba(0,0,0,0),
                        rgba(0,0,0,0.2) 70%,
                        rgba(0,0,0,0.6)
                    );
    width: 100%;
    height: 100%;
}

.script {
    font-family: $cursive_font;
    font-weight: normal;
}

.serif {
    font-family: $serif_font;
}

.small-font {
    font-family: $small_font;
}

.strong {
    font-weight: bold;
}

/* A lot like .card, but more generic */
.sheet {
    box-shadow: $zshadow_0;
    transition: box-shadow 0.3s ease;
}
.sheet.hoverable:hover {
    box-shadow: $zshadow_2;
}

.site_header {
    background-color: $theme_noir;
    /*background-image: url($header_image);*/
    background-position: center center;
    background-size: cover;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-size: 3.5vw;
    white-space: nowrap;

    h1 {
        padding: 1em 0em;
        margin: 0;
        line-height: 1em;
        letter-spacing: 0.03em;
    }

    a,
    a:visited,
    a:hover,
    a:focus,
    a:active {
        color: inherit;
        text-decoration: none;
    }
}

@media (min-width: $breakpoint_xs){
    .site_header {
        font-size: 1rem;
    }
}

@media (min-width: $breakpoint_sm){
    .site_header {
        font-size: 1.3rem;
    }
}

@media (min-width: $breakpoint_lg) {
    .site_header {
        font-size: 1.6rem;
    }
}

.site-nav {
    background-color: $theme_noir;
    color: #fff;
}

.inverted > .site-nav {
    background-color: #fff;
    color: $copy_softer;

    .nav-ul > li > a {
        border-color: $border_light;
    }

    .nav-ul > li > a.active {
        border-color: $border_dark;
    }

    .nav-ul > li > a:hover,
    .nav-ul > li > a:focus {
        border-color: $theme_colour;
    }
}

.spacer {
    text-align: center;
    display: inline-block;
    width: 1em;
}

.spacer.double {
    width: 2em;
}

.subhead {
    font-weight: normal;
    padding-top: 0;
    opacity: 0.4;
    font-size: 1.2em;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tt {
    font-family: $mono_font;
}

.first {
    padding-top: 3em;
}
.last {
    padding-bottom: 3em;
}

.vspace {
    padding-top: 2em;
    padding-bottom: 2em;
}

@media(min-width: $breakpoint_md){
    .vspace {
        padding-top: 3em;
        padding-bottom: 3em;
    }
}

@media(min-width: $breakpoint_lg){
    .vspace {
        padding-top: 4em;
        padding-bottom: 4em;
    }
}

.vspace + .vspace {
    padding-top: 0em;
}


.hidden-xs {
    display: none;
}

@media(min-width: $breakpoint_xs){
    .hidden-xs {
        display: initial;
    }
    .visible-xs {
        display: none;
    }
}


#MathJax_Message {
    
}
