---
title: Home
layout: basic
---

<header class="hero">
  <div class="scrim">
    <div class="fold-centre">
      <h1>toaster&nbsp;.&nbsp;cc</h1>
      <hr>
      <h3 class="script">AngusP</h3>
    </div>
  </div>
</header>

{% include nav.html %}


<div class="">
  <div class="container vspace">

    <a name="portfolio"></a>
    <h1 class="center">Portfolio</h1>

    <div class="center padder">
      <a href="{{ site.baseurl }}/media/cv.pdf" target=_blank class="btn">
        <i class="fa fa-file-pdf-o"></i> <span class="spacer"></span>
        <span class="hidden-xs">Curriculum Vitae</span>
        <span class="visible-xs">CV</span>
      </a>
    </div>

  </div>
</div>

<div class="bg-l-grey">
  <div class="container wide vspace">

    {% assign projects = site.projects | sort 'date' | reverse %}
    {% assign mod = projects | size | plus: 1 | modulo:3 %}
    
    {% for project in projects limit:9 %}
    
    {% cycle '<div class="row">', '', '' %}
      
      <div class="col">
        <div class="card">
          <a href="{{ site.baseurl }}/portfolio#{{ project.name | url_encode }}" >
            <img src="{{site.baseurl}}/media/{{ project.image }}" class="img-responsive">
          </a>
          <div class="center padder card-head">
            <h4><a href="{{ site.baseurl }}/portfolio#{{ project.name | url_encode }}" >
                {{ project.name }}
            </a></h4>
            <span class="muted">{{ project.type }}</span>
          </div>
        </div>
      </div>
      
      {% cycle '', '', '</div>' %}
    
    {% endfor %}

    {% if mod == 1 %}
    <div class="col"><!-- 1 --></div>
    {% elsif mod == 2%}
    <div class="col"><!-- 1 --></div>
    <div class="col"><!-- 2 --></div>
    {% endif %}

    <div class="center padder">
      <a href="{{ site.baseurl }}/portfolio" class="btn">
        <i class="fa fa-briefcase"></i> <span class="spacer"></span>
        Full Portfolio
      </a>
    </div>

  </div><!-- Terminating row  -->
</div>


<div class="">
  <div class="container vspace">

    <a name="portfolio"></a>
    <h1 class="center">Posts</h1>

  </div>
</div>

<div class="container last">
  <section class="archive">
    <ul class="this">    
      {% for post in site.posts limit:5 %}
      <a href="{{ post.url }}">
        <li>
          {{ post.title }}
          <time>{{ post.date | date:"%d %b %Y" }}</time>
        </li>
      </a>
      {% endfor %}
    </ul>
  </section>
  
  <div class="center padder">
    <a href="{{ site.baseurl }}/posts" class="btn">
      <i class="fa fa-paper-plane"></i> <span class="spacer"></span>
      See All
    </a>
  </div>
</div>

{% include footer.html %}
