<!DOCTYPE html>
<html>
  <head>
    <title>{{ site.title }}</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Montserrat:400,700|PT+Serif:400,400italic,700|Pacifico"
          type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" type="text/css">


  </head>
