<nav class="bg-l-grey">
  <div class="container">
    <ul class="row nav-ul">
      {% assign url = page.url|remove:'index.html' %}
      {% for link in site.navigation %}
      <li class="col">
        {% if link.url %}
	<a {% if page.url == link.url %}class="active"{% endif %}
           href="{{ link.url | append: site.baseurl }}" title="{{ link.text }}">{{link.text}}</a>
        {% endif %}
        {% if link.abs %}
        <a {% if page.url == link.url %}class="active"{% endif %}
           href="{{ link.abs }}" title="{{ link.text }}">{{link.text}}</a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>
