
{% if post.wide %}
{% assign wclass = 'wide' %}
{% else %}
{% assign wclass = 'skinny' %}
{% endif %}

<div class="container vspace {{ wclass }}">
  <article>
    <div class="clearfix">
      
      {% include author_chip.html %}
      
      <time class="muted i">
        {{ post.date | date: "%b %-d, %Y" }}
      </time>
    </div>
    <br>
    <div class="{% if post.columnar %} columnar{% endif %}{% if post.justified %} justified{% endif %}">
      {{ post.content }}
    </div>
  </article>
</div>
