<div class="inverted">
  <nav class="site-nav">
    <div class="container">
      <ul class="row nav-ul">
        <li class="col">
          <a class="active" href="{{ site.baseurl }}/" title="Back">{{ site.title }}</a>
        </li>
        <li class="col">
          <a class="active" href="{{ site.baseurl }}/posts" title="Back">&leftarrow; All Posts</a>
        </li>
        <li class="col">
          <a class="active" href="{{ site.baseurl }}/posts/archive" title="Back">Archive</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
